<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/books">Books</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text"><%= user && user.username %></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <% if(error.length > 0){ %>
        <div class="alert alert-danger"><%= error %></div>
      <%}%>
      <% if(success.length > 0){ %>
        <div class="alert alert-success"><%= success %></div>
      <%}%>
      <%- body %>
    </div>

    <script>
    (function(){
      var flashes = document.querySelectorAll(".alert");
      flashes.forEach(function(flash){
        flash.onclick = function() {flash.parentNode.removeChild(flash)};
      });
    })()
  </script>
  </body>
</html>
